importlib-metadata<=3.7.3; python_version <= '3.6'
importlib-metadata; python_version != '3.6'
ipython
mock
nbconvert
pytest
pytest-cov
pytest-server-fixtures
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
