importlib-metadata<=3.7.3; python_version <= '3.6'
importlib-metadata; python_version != '3.6'
ipython
mock
nbconvert
pytest
pytest-cov
pytest-server-fixtures
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
